*{
    background-color: #C8DCF2;
    position: center;
}
.d1{
    width: 70%;
    margin-left: 30%;
    margin-top: 5px;
    font-size: 250%;
}

p{
    color: #105197;
    font-family: 'Copperplate';
}

.c1{
    margin-top: 100px;
}

.header{
    color: #105197;
    font-family: 'Copperplate';
    font-size: 180%;
    margin-left: 470px;
    margin-top: 100px;
}

button {
    padding: 1rem;
    min-width: 200px;
    border-radius: 100vmax;
    border: none;
    outline: none;
    background: #4783d1;
    color: #ffffff;
    font-family: 'Copperplate';
    font-size: 80%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: 25%;
  }

  button > span {
    position: relative;
    z-index: 2;
    background-color: #4783d1;
  }

  button > span:hover {
    position: relative;
    z-index: 2;
    background-color: rgb(184, 141, 141);
  }

  button .ripple {
    background-color: rgb(184, 141, 141);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.01) translateY(110%);
    transform-origin: bottom center;
    width: 200%;
    border-radius: 100vmax;
    aspect-ratio: 1 / 1;
    transition: all 1.0s;
    z-index: 1;
  }

  button:hover > .ripple {
    transform: translateX(-50%) scale(1) translateY(50%);
  }

  .ripple-2-btn {
    overflow: unset;
  }